---
title: 升级日志
slug: changelog
date: 0099/01/02
number: 99
points: 1
appendix: true
version: 1.7.2
updated: "2014年12月5日"
note: feel free to adapt the contents of this document to your own translation, but please keep the same version numbers
---

### 2014年12月5日 <span class="marker version-marker">1.7.2</span>

- ////
- ////
- ////
