---
title: 更新日志
slug: changelog
date: 0099/01/02
number: 99
points: 1
appendix: true
version: 1.8
updated: "2015年2月10日"
---

### 2015年2月10日 <span class="marker version-marker">1.8</span>

- 重写“动画”章节，使用 `_uihooks`。
- 用 `.page` div 包裹每个页面。
- 使用官方 `twbs:bootstrap` Bootstrap 包。
- 添加 `.page` 到 `sytle.css`。
- 使用 `Template.registerHelper` 替代 `UI.registerHelper`。
- “部署”章节，删除了 Modulus 部分（现在参考其官方文档）。
- “添加用户”章节，更新 `db.users.find()` 的结果。
- “集合”章节，添加了关于 Meteor shell 的内容。
- 中文翻译版本于2015年2月25日更新完毕。

### 2014年12月5日 <span class="marker version-marker">1.7.2</span>

- “分页”章节，添加 `subscriptions` 段落。
- 更正几处错别字和代码。

### 2014年11月10日 <span class="marker version-marker">1.7.1</span>

.
.
.

### 2013年5月5日 <span class="marker version-marker">1.0</span>

第一版。
